* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    

  }
  body{
    overflow-x: hidden;
  }
/*=============Navigation bar==============*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
 li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: blue;
  }
  
  li {
    display: inline-block;
  }
  

  .search{
    width: 250px;
    height: 40px;
    background-color: #e4e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
    justify-content: flex-end;
}
.search input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
    padding-left: 400px;
}
.search input{
    color: #333;
}
  /*=====nav image======*/
 .nav-img{
    justify-items: end;
    align-items: end;
    text-align: right;
    float: right;
  }
  .search{
    float: right;
  }




/*=========welcome body=============*/
#body{
    background-image: url('images/blue\ beetle.jpg');
    height: 80vh;
    width: 100%;
}
.text{
    justify-content: center;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
    
  }
  .card1{
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
.container h1{
    padding:  0px 4px;
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bolder;
    color:black;
    margin: auto;
    padding: 20px;
}
.container p{
    color: #ffffff;
    font-weight: lighter;
}
   


/*==============Movies css===================*/
.movie-info p{
    color: #000000;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

/*==============Responsiveness css===================*/
[class*="col-"] {
    padding: 0 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* SMALL SCREEN */

@media only screen and (max-width: 850px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

  /*=====Feedback form============*/
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container-fluid {
    border-radius: 5px;
    background-color: #e4e0e0;
    padding: 20px;
  }
  
/*==================Footer====================*/
#footer {
    background: #000000;
    height: 20vh;
    margin-top: 5%;
    padding-top: 20px;
    color: #ffffff;
    
}

    
